@model IList<HostelNepal.Models.ViewModel.BannerViewModel>

@{
    ViewBag.Title = "Banner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="modal-dialog" role="document" style="max-width:1000px;">
        <div class="modal-content" style="margin-top:100px;align-content:center">
            <a class="btn btn-d" href="@Url.Action("AddOrEdit","Admin")"><span class="ion-md-brush">Add New Banner</span></a>
            <table class="table">
                <tr>
                    <th>
                        <span>Banner Id</span>
                    </th>

                    <th>
                        <span>Hostel Name</span>
                    </th>
                    <th>
                        <span>Activation</span>
                    </th>
                    <th>
                        <span>Photo</span>
                    </th>
                    <th>Action</th>
                </tr>
                @if (Model != null)
                {
                    for (var i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            @Html.HiddenFor(m => Model[i].HostelId)
                            @Html.HiddenFor(m => Model[i].BannerId)
                            <td>
                                @Html.DisplayFor(m => Model[i].BannerId)
                            </td>
                            <td>
                                @Html.DisplayFor(m => Model[i].HostelName)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => Model[i].Activated, new { @class = "ion-ios-checkbox" })
                            </td>
                            <td class="bg-image">
                                <img src="~/Images/Banner/@Model[i].Photo" width="100" height="50" />
                            </td>
                            <td>
                                <a style="border-radius:0px" class="btn btn-outline-info" href="@Url.Action("AddOrEdit", "Admin", new {  id = Model[i].BannerId})">Edit</a>
                                <a style="border-radius:0px" class="btn btn-outline-danger" href="@Url.Action("Delete","Admin", new { id = Model[i].BannerId,name="Banner"})">Delete</a>
                            </td>
                        </tr>
                    }
                }

            </table>
            <input class="btn btn-a" type="submit" value="Save Changes" />
        </div>
</div>

}