@model HostelNepal.Models.tblHostel

@{
    ViewBag.Title = "SingleHostel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@Model.HostelName</h1>
                    <span class="color-text-a">@Model.Address</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index","Opening")">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index","Hostel")">Hostels</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.HostelName
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->



<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
                    @foreach (var item in ViewBag.Photo)
                    {
                        if (item.HostelId == Model.HostelId)
                        {
                            <img src="~/Images/Hostel/@item.Photo" />
                        }
                    }
                
                </div>
                <div class="row">
                    @foreach (var std in ViewBag.Students)
                    {
                        if (std.UserName == User.Identity.Name)
                        {
                            int i = 0;
                            foreach (var choice in ViewBag.Choices)
                            {
                                if (std.StudentId == choice.StudentId && Model.HostelId == choice.HostelId)
                                {
                                    <a href="@Url.Action("#", new { id = Model.HostelId })" class="h2">
                                        <span class="ion-ios-star"> Your Choice</span>
                                    </a>
                                    i++;
                                }

                            }
                            if (i == 0)
                            {
                                <a href="@Url.Action("Choose", "Hostel", new { id = Model.HostelId })" class="h2">
                                    <span class="ion-ios-star-outline"> Choose This</span>
                                </a>
                            }

                        }

                    }
                </div>
                @{
                    List<decimal> price = new List<decimal>();
                    List<string> roomtype = new List<string>();
                }
                @foreach (var room in ViewBag.Room)
                {
                    if (room.HostelId == Model.HostelId)
                    {
                        price.Add(room.tblPrice.Price);
                        roomtype.Add(room.RoomName);
                    }
                }
                
                    <div class="row justify-content-between">
                        <div class="col-md-5 col-lg-4">
                            
                            @foreach (var item in roomtype)
                            {
                                <div class="property-price d-flex  foo">
                                    <div class="card-header-c d-flex">
                                        <div class="card-box-ico">
                                            <span class="title-single">Rs.</span>
                                        </div>
                                        <div class="card-title-c align-self-center">

                                               

                                            @if (item == "One Sitter")
                                            {
                                                <h5 class="title-c">
                                                    @price[0]
                                                </h5>
                                            }
                                            @if (item == "Two Sitter")
                                            {
                                                <h5 class="title-c">
                                                    @price[1]
                                                </h5>
                                            }
                                            @if (item == "Three Sitter")
                                            {
                                                <h5 class="title-c">
                                                    @price[2]
                                                </h5>
                                            }

                                        </div>
                                        <span style="color:#2eca6a;font:bold">

                                            @item

                                        </span>

                                    </div>

                                </div><br /><br />
                            }
                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d section-t4">
                                            <h3 class="title-d">Hostel Details</h3>

                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="summary-list">
                                    <ul class="list">
                                        <li class="d-flex justify-content-between">
                                            <strong>Hostel Id:</strong>
                                           
                                            <span>@Model.HostelId</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Hostel Name:</strong>
                                            <span>@Model.HostelName</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Address:</strong>
                                            <span>@Model.Address</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Capacity:</strong>
                                            <span>@Model.Capacity</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Phone no:</strong>
                                            <span>@Model.Phone</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Stars:</strong>
                                            <span>@Model.Star</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Email:</strong>
                                            <span>@Model.Email</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Warden:</strong>
                                            <span>@Model.tblWarden.WardenName</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Hostel Description</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a">
                                    @Model.Description
                                </p>
                                <p class="description color-text-a no-margin">
                                    @Model.DescriptionNext
                                </p>
                            </div>
                            <div class="row section-t3">
                                <div class="col-sm-12">
                                    <br />
                                    <div class="title-box-d">
                                        <h3 class="title-d">Facilities</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="amenities-list color-text-a">
                                <ul class="list-a no-margin">
                                    @{
                                        string[] facility = Model.Facilites.Split(',');
                                    }
                                    @foreach (var item in facility)
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            </div><br />
                            <div class="row section-t3">
                                <div class="col-sm-12">
                                    <br />
                                    <div class="title-box-d">
                                        <h3 class="title-d">Loacate Us</h3>
                                    </div>
                                </div>
                            </div>
                            <!--here-->
                            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="400" id="gmap_canvas" src="@Model.MapLocation" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/"></a></div>
                            <style>
                            </style></div>

                            <!--to here-->
                        </div>
                    </div>
                </div>


            <div class="col-md-12">
                <div class="row section-t3">
                    <div class="col-sm-12">
                        <div class="title-box-d">
                            <h3 class="title-d">Contact Warden</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <img src="~/Images/Warden//@Model.tblWarden.Photo" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="property-agent">
                            <h4 class="title-agent">@Model.tblWarden.WardenName</h4>
                            <p class="color-text-a">
                                @Model.tblWarden.WardenQuotes
                            </p>
                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between">
                                    <strong>Phone:</strong>
                                    <span class="color-text-a">(+977)@Model.tblWarden.WardenPhone</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <strong>Address:</strong>
                                    <span class="color-text-a">@Model.tblWarden.WardenAddress</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <strong>Email:</strong>
                                    <span class="color-text-a">@Model.tblWarden.Email</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <strong>Hostels:</strong>
                                    <span class="color-text-a">@foreach (var item in Model.tblWarden.tblHostels) {@item.HostelName<span> </span> }</span>
                                </li>
                            </ul>
                            <div class="socials-a">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @Html.Action("_Message", "Office")
                </div>
            </div>
        </div>
    </div>
</section>

<!--/ Property Single End /-->